@model OnlineLibrary.Views.Books.AdminModel
@{
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2 d-flex justify-content-center">
                <button type="button" class="btn btn-primary" style="align-items: center">Thêm sách</button>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">STT</th>
                    <th scope="col" class="text-center">Tên sản phầm</th>
                    <th scope="col" class="text-center">Hình ảnh</th>
                    <th scope="col" class="text-center">Số lượng</th>
                    <th scope="col" class="text-center">Đơn giá</th>
                    <th scope="col" class="text-center">Danh mục</th>
                    <th scope="col" class="text-center">Mã ISBN</th>
                    <th scope="col" class="text-center">Tóm tắt</th>
                    <th scope="col" class="text-center">Trạng thái</th>
                    <th scope="col" class="text-center">Quản lý</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <th scope="row" class="text-center">1</th>
                    <td class="text-center">Tên sách 1</td>
                    <td class="text-center">Ảnh</td>
                    <td class="text-center">1</td>
                    <td class="text-center">100 000</td>
                    <td class="text-center">Thể loại</td>
                    <td class="text-center">122345</td>
                    <td class="text-center">Decription</td>
                    <td class="text-center">Còn sách</td>
                    <td class="text-center">Xóa</td>
                </tr>

                <tr>
                    <th scope="row" class="text-center">1</th>
                    <td class="text-center">Tên sách 2</td>
                    <td class="text-center">Ảnh</td>
                    <td class="text-center">1</td>
                    <td class="text-center">100 000</td>
                    <td class="text-center">Thể loại</td>
                    <td class="text-center">122345</td>
                    <td class="text-center">Decription</td>
                    <td class="text-center">Còn sách</td>
                    <td class="text-center">Xóa</td>
                </tr>


            </tbody>
        </table>
    </div>

</body>

</html>

