@model OnlineLibrary.Models.Book

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thêm sách</title>
    <link rel="stylesheet" asp-href-include="Create.cshtml.css" />
</head>
<body>

<h4 style="text-align: center; font-weight: bold;">Thêm sách vào thư viện</h4>
<hr />
    <div class="container" >    
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" style="margin-bottom: 15px; ">
                        <label asp-for="BookPhoto" class="control-label"></label>
                        <input asp-for="BookPhoto" class="form-control" placeholder="Ảnh sách" />
                        <span asp-validation-for="BookPhoto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookName" class="control-label" style="max-height: 500px; max-width: 400px"></label>
                        <input asp-for="BookName" class="form-control" placeholder="Tên sách" />
                        <span asp-validation-for="BookName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookAuthor" class="control-label"></label>
                        <input asp-for="BookAuthor" class="form-control" placeholder="Tác giả" />
                        <span asp-validation-for="BookAuthor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookPublicationDate" class="control-label"></label>
                        <input asp-for="BookPublicationDate" class="form-control" placeholder="Ngày phát hành" />
                        <span asp-validation-for="BookPublicationDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookPublisher" class="control-label"></label>
                        <input asp-for="BookPublisher" class="form-control" placeholder="Nhà phát hành" />
                        <span asp-validation-for="BookPublisher" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookDescription" class="control-label"></label>
                        <input asp-for="BookDescription" class="form-control" placeholder="Mô tả" />
                        <span asp-validation-for="BookDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookPages" class="control-label"></label>
                        <input asp-for="BookPages" class="form-control" placeholder="Số trang" />
                        <span asp-validation-for="BookPages" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookRating" class="control-label"></label>
                        <input asp-for="BookRating" class="form-control" placeholder="Đánh giá" />
                        <span asp-validation-for="BookRating" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookLanguage" class="control-label"></label>
                        <input asp-for="BookLanguage" class="form-control" placeholder="Ngôn ngữ" />
                        <span asp-validation-for="BookLanguage" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Featured" /> @Html.DisplayNameFor(model => model.Featured)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="JustArrived" /> @Html.DisplayNameFor(model => model.JustArrived)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary w-100" />
                    </div>
                </form>
            </div>
        </div>
    </div>
<div style="text-align: center">
    <a asp-action="Index" asp-controller="Books">Quay về</a>
</div>

</body>
</html>
