@model IEnumerable<OnlineLibrary.Models.Category>
@*
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <p class="text-right">15 Products</p>
                    <a href="/Books/BookById/?CategoryId=@item.CategoryId" class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="/img/cat/@item.CategoryPhoto" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">@item.CategoryName</h5>
                </div>
            </div>
        }
    </div>
</div>
*@

<div id="header-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 430px;">
            <div class="row px-xl-5 pb-3">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 pb-2">
                        <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                            <p class="text-right">15 Sản phẩm</p>
                            <a href="/Books/BookById/?CategoryId=@item.CategoryId" class="cat-img position-relative overflow-hidden mb-3">
                                <img class="img-fluid" src="/img/cat/@item.CategoryPhoto" alt="">
                            </a>
                            <h5 class="font-weight-semi-bold m-0">@item.CategoryName</h5>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="carousel-item" style="height: 430px;">
            <div class="row px-xl-5 pb-3">
                 @foreach (var item in Model)
                 {
                     <div class="col-lg-4 col-md-6 pb-1">
                         <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                                <p class="text-right">15 Products</p>
                                <a href="/Books/BookById/?CategoryId=@item.CategoryId" class="cat-img position-relative overflow-hidden mb-3">
                                    <img class="img-fluid" src="/img/cat/@item.CategoryPhoto" alt="">
                                </a>
                                <h5 class="font-weight-semi-bold m-0">@item.CategoryName</h5>
                         </div>
                     </div>
                 }
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-prev-icon mb-n2"></span>
        </div>
    </a>
    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-next-icon mb-n2"></span>
        </div>
    </a>
</div>