@model IEnumerable<OnlineLibrary.Models.Book>

<div class="container-fluid pt-5">
    <div class="text-center mb-4 mt-3">
        <h2 class="section-title px-5"><span class="px-2">Sách nổi bật</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        @foreach (var item in Model)
        {
            <partial name="_Book" model="item"/>
        }
    </div>
</div>